.css-kmdglm-MuiFormLabel-root-MuiInputLabel-root {
  top: -6px !important;
}

.css-1qb9p1k-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 0px !important;
  margin-left: 10px !important;
}

.css-10e3ze8-MuiStack-root {
  padding: 0px !important;
}
