.css-kmdglm-MuiFormLabel-root-MuiInputLabel-root {
  top: -6px !important;
}

.css-1qb9p1k-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 0px !important;
  margin-left: 10px !important;
}

.css-10e3ze8-MuiStack-root {
  padding: 0px !important;
}

.css-11f7gl5-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  -webkit-text-fill-color: black !important;
  font-weight: bold;
}

.css-1rufdh7-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  -webkit-text-fill-color: black !important;
  font-weight: bold;
}

.css-1rufdh7-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8.5px 0px 8.5px 14px !important;
}
